---
Checks: >
  -*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  misc-redundant-expression,
  misc-static-assert

HeaderFilterRegex: 'src/.*'
WarningsAsErrors: ''
...
