**/.deps
**/.dirstamp
**/Makefile
**/Makefile.in
**/aclocal.m4
**/*.o
**/*.a
configure
autom4te.cache
config.log
config.status
doxygen.cfg
src/config.h
src/config.h.in
src/stamp-h1
src/help/helpdata.cpp
src/burrTxt
src/burrTxt2
src/gui/burrGui
src/help/helpviewer
src/unitTest
src/config.h.in
